<h1><%= t("form.list") %> locations</h1>
<%= will_paginate @locations, :class => 'digg_pagination' %>
<table class="lists">
  <tr>
    <th>Lat</th>
    <th>Long</th>
    <th>Alt</th>
    <th>Hor acc</th>
    <th>Ver acc</th>
  </tr>

<% for location in @locations %>
  <tr class="list <%= cycle('odd','even')%>">
    <td class="list_item"><%=h location.latitude %></td>
    <td class="list_item"><%=h location.longitude %></td>
    <td class="list_item"><%=h location.altitude %></td>
    <td class="list_item"><%=h location.horizontal_accuracy %></td>
    <td class="list_item"><%=h location.vertical_accuracy %></td>
    <td class="list_item"><%=h distance_of_time_in_dutch(location.created_at) %></td>
    <td class="list_item"><%= link_to t("form.show"), admin_location_path(location) %></td>
    <td class="list_item"><%= link_to t("form.destroy"), admin_location_path(location), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("form.new") + ' locations', new_admin_location_path %>
