<h1><%= t("form.new") %> news</h1>

<% form_for(@news) do |f| %>
  <%= f.error_messages %>

<table class="list">
    <tr>
		<th><%= f.label :title %>: </th>
    	<td><%= f.text_field :title %></td>
	</tr>
    <tr>
		<th><%= f.label :body %>: </th>
    	<td><%= f.text_area :body %></td>
	</tr>
	<tr>
		<th></th>
		<td><%= f.submit t("form.create") %></td>
	</tr>
<% end %>
</table>
<%= link_to t("form.back"), news_path %>


