<h1><%%= t("form.list") %> <%= plural_name %></h1>

<table class="list">
  <tr>
<% for attribute in attributes -%>
    <th><%= attribute.column.human_name %></th>
<% end -%>
  </tr>

<%% for <%= singular_name %> in @<%= plural_name %> %>
  <tr class="<%%= cycle('odd','even')%>">
<% for attribute in attributes -%>
    <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td><%%= link_to t("form.show"), <%= singular_name %> %></td>
    <td><%%= link_to t("form.edit"), edit_<%= singular_name %>_path(<%= singular_name %>) %></td>
    <td><%%= link_to t("form.destroy"), <%= singular_name %>, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%% end %>
</table>

<br />

<%%= link_to t("form.new") + ' <%= singular_name %>', new_<%= singular_name %>_path %>
