<h1><%%= t("form.new") %> <%= singular_name %></h1>

<%% form_for(@<%= singular_name %>) do |f| %>
  <%%= f.error_messages %>

<table class="list">
<% for attribute in attributes -%>
    <tr>
		<th><%%= f.label :<%= attribute.name %> %>: </th>
    	<td><%%= f.<%= attribute.field_type %> :<%= attribute.name %> %></td>
	</tr>
<% end -%>
	<tr>
		<th></th>
		<td><%%= f.submit t("form.create") %></td>
	</tr>
<%% end %>
</table>
<%%= link_to t("form.back"), <%= plural_name %>_path %>


