<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<%= javascript_include_tag  :defaults %> 
    <title><%= @page.title -%></title>
	<style>
	body {
		margin: 0px;
		padding: 0px;
	}
	</style>
	<%= GMap.header(:hl => 'nl', :host => request.host) %>
	<%= @map.to_html(:full => params[:full]) %>
</head>
<body>
<%= @map.div(:width => 320, :height => 300) %>
<p style="text-align: center">Precisie: +/- <%= @locations.first.horizontal_accuracy.to_i %> meter, <%= distance_of_time_in_dutch(@locations.first.created_at, Time.now, true) %> geleden</p>
</body>
</html>
