<center>
	<img src="<%= @static_url %>"/>
</center>
<% if @location %>
<p>Precisie: +/- <%= @location.horizontal_accuracy.to_i %> meter <%= distance_of_time_in_dutch(@location.created_at, Time.now, true) %> geleden</p>
<% end %>
<%= link_to 'Ververs', static_locations_path %>
<hr/>
<h3>Andere map typen:</h3>
<% @map_types.each { |type, name| %>
	<%= link_to name, static_locations_url(:type => type) %>
<% } %>
<hr/>
