<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<%= stylesheet_link_tag 'optocht' %>
	<%= javascript_include_tag  :defaults %> 
    <title><%= @page.title -%></title>
	<%= yield :header %>
</head>
<body>
	<div class="title">
		<%= link_to image_tag("2003002-mockup_header.jpg", :border => 0), comatose_root_url %>
		<h1>Optocht Pampus - Lollebroek</h1>
	</div>
<div class="contentcol">
	<%- if flash[:notice] -%><p class="infobox"><%= flash[:notice] %></p><%- end -%>
	<h2 style="text-align:center;"><%= @page.title %></h2>
    <%= yield %>
	<div id="footnote"><%= t "footnote"%></div>
</div>
</body>
</html>
